@import "bower_components/cells-sass/main";

:host {
  display: block;
  font-family: var(--cells-fontDefault, 'sans-serif');
  box-sizing: border-box;
  @apply(--cells-coronita-theme);
}

:host([hidden]) {
  display:none;
}

*, *:before, *:after {
  box-sizing: inherit;
}
