<dom-module id="cells-coronita-theme-styles"><template><style>
:host {
  display: block;
  font-family: var(--cells-fontDefault, "sans-serif");
  box-sizing: border-box;
  @apply (--cells-coronita-theme); }

:host([hidden]) {
  display: none; }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>